* {
    margin: 0px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    margin: 0px;
}

h1 {
    font-size: 28px;
    margin: 5px;
}

h2 {
    font-size: 24px;
    margin: 5px;
}

h3 {
    font-size: 18px;
    margin: 5px;
}

h4 {
    font-size: 14px;
    margin: 5px;
}

h5 {
    font-size: 10px;
    margin: 5px;
}

body #logo img {
    margin-right: 10px;
}

.header-logo {
    margin: 10px, 5px;
}

a {
    text-decoration: none;
    color: #eeeeee;
}

a.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo, #home, #other, #about {
    font-weight: normal;
    line-height: 32px;
    padding: 8px;
    border-radius: 4px;
    color: #eeeeee;
    background-color: transparent;
    text-decoration: none;
    white-space: nowrap;
}

p {
    margin-left: 10px;
    display: inline;
}

header {
    position: absolute;
    width: 100%;
    background-color: rgba(20, 20, 20, .2);
    z-index: 10;
}

div.header-logo a {
    float: left;
    align-items: center;
}

div.header-logo ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0px;
    float: right;
    align-items: center;
    margin-right: 10px;
}

div.header-logo ul li a {
    text-decoration: none;
}

#bg {
    display: flexbox;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://api.imalan.cn/random/?c=unsplash&s=large&r=img");
}

.mask {
    background-color: rgba(20, 20, 20, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    zoom: 1;
    padding: 5px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    z-index: -2;
}

.blur:after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0px auto;
    background: inherit;
    filter: blur(5px);
    z-index: -2;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    text-align: center;
    overflow: auto;
    z-index: 2;
}

.container::-webkit-scrollbar {
    width: 0 !important
}

.item-list {
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    margin: 10px auto;
    max-width: 800px;
}

.item-list:first-child {
    margin-top: 50px;
}

.item {
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    justify-content: center;
    transition: .2s;
    flex-direction: column;
}

.item:hover {
    transform: scale(1.05);
}

.item a, p {
    text-align: center;
    margin: auto 0px;
    color: #eeeeee;
}

.item a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(20, 20, 20, 0.2);
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(20, 20, 20, .2);
    z-index: 10;
    text-align: center;
}

.footer a {
    font-size: 12px;
}